.img1 {
    width: 600 px;
}
.img2 {
    width: 800 px;
}
.img3 {
    width: 300 px;
}
body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: yellow ;
    color: purple ;
}
