.img1 {
    width: 600px;
}
.img2 {
    width: 800px;
}
.img3 {
    width: 700px;
}
body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:plum;
    color:greenyellow;

}
