.img1 {
    width: 600px;
}

.img2 {
    width: 800px;
}

.img3 {
    width: 300px;
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: yellow;
    color: purple;
}
